<%= link_to "Create Track", new_event_track_path(@event) %>

<table>
	<th>
		<td>
			Title
		</td>
	</th>
	<tr>
		<% @tracks.each do |track| %>
		<td>
			<%= track.title %>
		</td>
		<% end %>
	</tr>
</table>