<%= link_to "Create Track", new_event_track_path(@event) %>

<table>
	<th>
		<td>
			Title
		</td>
		<td>
			
		</td>
	</th>
	<% @tracks.each do |track| %>
	<tr>
		<td>
			<%= link_to track.title, event_track_path(@event.id, track.id) %>
		</td>
		<td>
			<%= link_to "Edit", edit_event_track_path(@event.id, track.id) %>
		</td>
	</tr>
	<% end %>
</table>