<h2>Add new event</h2>

<%= form_for @event, :url => { :action => :create } do |f| %>

  <div class="field">
    <%= f.label 'Título do evento' %>
    <%= f.text_field :title %>
  </div>

  <%= f.submit 'Salvar' %>

<% end %>
