article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #CDD url("./noise.png");
}

header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 280px;
  background: #45BCD2;
  color: #FFF;
  border-bottom: 1px solid #BBB;
  box-shadow: 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 #FFF;
  -webkit-box-shadow: 0 1px 0 #FFF;
}
header h1 {
  position: absolute;
  margin: 0;
  top: 110px;
  font-size: 80px;
  text-shadow: -4px 0 0 rgba(0, 0, 0, 0.2);
}
header .name {
  position: absolute;
  top: 25px;
  font-family: 'Shadows Into Light';
  font-size: 45px;
  text-shadow: -4px 0 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #FFF;
}

nav {
  position: absolute;
  top: 40px;
  left: 230px;
  right: 0;
  height: 45px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
nav a {
  float: left;
  display: block;
  padding: 0 15px;
  line-height: 45px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 1px #FFF;
  transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
}
nav a:hover,
nav a.active {
  background: rgba(255, 255, 255, 0.8);
}
nav a:first-of-type {
  border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
}

section {
  position: relative;
  margin: 0 auto;
  margin-top: -60px;
  width: 960px;
  min-height: 100px;
  background: #FFF;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px #999;
  z-index: 1;
}
section h2 {
  margin: 0;
  padding: 25px 30px;
  font-size: 25px;
  color: #333;
  background: #F0F0F0;
  border-bottom: 1px solid #BBB;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

section form {
  margin-top: -1px;
  padding: 25px;
  background: #F0F0F0;
}
section label {
  font-size: 14px;
  font-weight: bold;
}
section input[type=text],
section input[type=password],
section input[type=file],
section input[type=number],
section input[type=email],
section input[type=search],
section input[type=url],
section input[type=tel] {
  margin: 3px 0 15px;
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

section input[type=submit],
section input[type=button],
section button,
section a.button {
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  color: #555;
  cursor: pointer;
  background: linear-gradient(#F2F2F2, #DADADA);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F2F2F2), color-stop(100%, #DADADA));
  background: -moz-linear-gradient(#F2F2F2, #DADADA);
  -webkit-box-shadow: rgba(255, 255, 255, 0.18) 0 1px 0 inset;
  -moz-box-shadow: rgba(255,255,255,0.18) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.18) 0 1px 0 inset;
  border: 1px solid #A2A4A6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
section input[type=submit] {
  text-shadow: 0 1px 0 #000;
  color: #FFF;
  background: -webkit-linear-gradient(#3694DF, #0268D8);
  background: -moz-linear-gradient(#3694DF, #0268D8);
  background: linear-gradient(#3694DF, #0268D8);
  background-color: #0268D8;
  border: 1px solid #00489A;
  background-position: 0 0;
  -webkit-box-shadow: #5AA7E5 0px 1px 0px inset;
  -moz-box-shadow: #5aa7e5 0px 1px 0px inset;
  box-shadow: #5AA7E5 0px 1px 0px inset;
}
section input[type=button]:active,
section button:active,
section a.button:active {
  box-shadow: inset 0 1px 5px #AAA;
  -moz-box-shadow: inset 0 1px 5px #AAA;
  -webkit-box-shadow: inset 0 1px 5px #AAA;
}
section input[type=submit]:active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
}

section .field {
  display: inline-block;
}
section .field label {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
